.pagination {
  display: flex;
  justify-content: center;
}
.pagination div {
  cursor: pointer;
  border: 1px solid black;
  margin: 2px;
  width: 24px;
  text-align: center;
}

.pagination div[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

.pagination div.active {
  background-color: aqua;
}